Services/Common/XDSCommonLib/src/wsdl/DocMgrRequester.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
  Document Manager Requester WSDL
  -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns="http://schemas.xmlsoap.org/wsdl/"
   xmlns:xsd="http://www.w3.org/2001/XMLSchema"
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
   xmlns:docmgr="urn:gov:hhs:fha:nhinc:common:docmgr"
   name="DocMgrRequester"
   targetNamespace="urn:gov:hhs:fha:nhinc:docmgrrequester"
   xmlns:tns="urn:gov:hhs:fha:nhinc:docmgrrequester">
  <documentation>Document Manager Requester</documentation>
  <types>
    <xsd:schema>
      <xsd:import namespace="urn:gov:hhs:fha:nhinc:common:docmgr"
                  schemaLocation="../schemas/nhinc/common/DocManager.xsd"/>
    </xsd:schema>
  </types>
 
  <message name="QueryDoneRequestMessage">
    <part name="QueryDoneRequest"
          element="docmgr:QueryDoneRequest"/>
  </message>
  <message name="QueryDoneResponseMessage">
    <part name="QueryDoneResponse"
          element="docmgr:QueryDoneResponse"/>
  </message>
  <message name="DocAvailableRequestMessage">
    <part name="DocAvailableRequest"
          element="docmgr:DocAvailableRequest"/>
  </message>
  <message name="DocAvailableResponseMessage">
    <part name="DocAvailableResponse"
          element="docmgr:DocAvailableResponse"/>
  </message>

  <portType name="DocMgrRequesterPortType">
    <operation name="QueryDone">
      <input name="QueryDoneRequest"
             message="tns:QueryDoneRequestMessage" />
      <output name="QueryDoneResponse"
              message="tns:QueryDoneResponseMessage" />
    </operation>
    <operation name="DocAvailable">
      <input name="DocAvailableRequest"
             message="tns:DocAvailableRequestMessage" />
      <output name="DocAvailableResponse"
              message="tns:DocAvailableResponseMessage" />
    </operation>
  </portType>

  <binding name="DocMgrRequesterBindingSoap11" type="tns:DocMgrRequesterPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="QueryDone">
      <soap:operation soapAction="urn:QueryDone"/>
      <input name="QueryDoneRequest">
        <soap:body use="literal"/>
      </input>
      <output name="QueryDoneResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="DocAvailable">
      <soap:operation soapAction="urn:DocAvailable"/>
      <input name="DocAvailableRequest">
        <soap:body use="literal"/>
      </input>
      <output name="DocAvailableResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>

  <service name="DocMgrRequester">
    <port name="DocMgrRequesterPortSoap11"
          binding="tns:DocMgrRequesterBindingSoap11">
      <soap:address
         location="http://localhost:${HttpDefaultPort}/DocMgrRequester/DocMgrRequester_Service" />
    </port>
  </service>
  <plnk:partnerLinkType name="DocMgrRequester">
    <!-- A partner link type is automatically generated when a new port type is added.
         Partner link types are used by BPEL processes. In a BPEL process, a partner
         link represents the interaction between the BPEL process and a partner service.
         Each partner link is associated with a partner link type. A partner link type
         characterizes the conversational relationship between two services. The
         partner link type can have one or two roles.-->
    <plnk:role name="DocMgrRequesterPortTypeRole"
               portType="tns:DocMgrRequesterPortType"/>
  </plnk:partnerLinkType>

</definitions>
